<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Just a test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ion-grid>
      <ion-row>
        

        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Pay someone</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
           To wallet, bakor mobile number
          </ion-card-content>
        </ion-card>
        
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Card Pay someone</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            To wallet, bank or mobile number
          </ion-card-content>
        </ion-card>
        
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Request money</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Request money from Orobopay users
          </ion-card-content>
        </ion-card>
        
        <ion-card color="medium">
          <ion-card-header>
            <ion-card-title>Buy airtime</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            Top-up or send airtime across Africa
          </ion-card-content>
        </ion-card>      
      </ion-row>
   </ion-grid>
  </div>
</ion-content>
